# Ignore everything inside .obsidian
.obsidian/*

# Allow only the MindMap OS plugin to sync
!.obsidian/plugins/
!.obsidian/plugins/mindmap-os/
!.obsidian/plugins/mindmap-os/**
!99 Templates/
!99 Templates/**
